<h2>Lista de Empresas</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Código Postal</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empresa of empresas">
            <td>{{ empresa.codigo }}</td>
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.direccion }}</td>
            <td>{{ empresa.cp }}</td>
            <td>
                <button (click)="actualizarEmpresa(empresa.id)" class="btn btn-info">Editar</button>
                <button (click)="verDetallesDeEmpresa(empresa.id)" class="btn btn-primary" style="margin-left: 10px;">Detalles</button>
                <button (click)="eliminarEmpresa(empresa.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>