<!-- Navbar -->
<nav class="px-4 navbar navbar-expand-md bg-body-tertiary bg-dark" data-bs-theme="dark">
    <div class="navbar-brand">
        {{ title }}
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="empresas" routerLinkActive="active">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="usuarios" routerLinkActive="active">Usuarios</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Navbar -->

<router-outlet></router-outlet>