<div class="container p-4 border mt-4 mb-4 products target">
    <h3 class="text-center mb-5">Lista de Empresas</h3>

    <!-- Si ocurre algún error -->
    <div *ngFor="let error of errors">
        <div class="alert alert-danger" *ngIf="error!=null" role="alert">
            {{ error }}
        </div>
    </div>

    <!-- Si no hay empresas registradas -->
    <div *ngIf="numEmpresas==0">
        No hay ninguna empresa registrada
    </div>
    <!-- En caso de que si haya -->
    <div *ngIf="numEmpresas==0; else elseBlock"></div>
    <!-- Para cada empresa registrada -->
    <ng-template #elseBlock>
        <div class="row pr-2 mb-4 border target-elements" *ngFor="let empresa of empresas">
            <div class="col-sm-1 d-flex align-items-center mb-2">
                <a routerLink="/detalles-empresa/{{ empresa.id }}">{{ empresa.codigo }}</a>
            </div>
            <div class="col-sm-3 d-flex align-items-center mb-2">
                <a routerLink="/actualizar-empresa/{{ empresa.id }}">{{ empresa.nombre }}</a>
            </div>
            <div class="col-sm-4 d-flex align-items-center mb-2">
                {{ empresa.direccion }}
            </div>
            <div class="col-sm-2 d-flex align-items-center mb-2">
                {{ empresa.cp }}
            </div>
            <div class="col-sm-2 d-flex align-items-center justify-content-center mt-4 mb-4">
                <button (click)="eliminarEmpresa(empresa.id)" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </ng-template>
    <div class="d-flex justify-content-center mt-5">
        <a routerLink="/registrar-empresa" class="btn btn-primary">Añadir empresa</a>
    </div>
</div>