<div class="container mw-500 border p-4 mt-4 mb-4 target">
    <h3 class="text-center mb-4">Edición de empresa</h3>

    <!-- Si sale bien el registro -->
    <div class="alert alert-success" *ngIf="success!=null" role="alert">
        {{ success }}
    </div>
    
    <!-- Si ocurre algún error -->
    <div *ngFor="let error of errors">
        <div class="alert alert-danger" *ngIf="error!=null" role="alert">
            {{ error }}
        </div>
    </div>

    <form (ngSubmit)="onSubmit()" #empresaForm="ngForm">
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="codigo" name="codigo" [(ngModel)]="empresa.codigo"
            required placeholder="Codigo" [maxLength]="3" minlength="3" maxlength="3" pattern="[0-9]+" #codigo="ngModel">
            <label for="codigo">Codigo</label>

            <!-- Mensajes de error en el código -->
            <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)">
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "codigo.errors.minlength">
                    El código de la empresa debe ser de 3 dígitos
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "codigo.errors.maxlength">
                    El código de la empresa debe ser de 3 dígitos
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "codigo.errors.pattern">
                    El código de la empresa sólo debe tener números
                </h6>
            </div>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="empresa.nombre"
            required placeholder="Nombre" minlength="3" maxlength="50" #nombre="ngModel">
            <label for="nombre">Nombre</label>

            <!-- Mensajes de error en el nombre -->
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "nombre.errors.minlength">
                    El nombre de la empresa debe ser de al menos 3 caracteres
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "nombre.errors.maxlength">
                    El nombre de la empresa debe tener un máximo de 50 caracteres
                </h6>
            </div>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empresa.direccion"
            required placeholder="Dirección" minlength="3" maxlength="70" #direccion="ngModel">
            <label for="direccion">Dirección</label>

            <!-- Mensajes de error en la dirección -->
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "direccion.errors.minlength">
                    La dirección de la empresa debe ser de al menos 3 caracteres
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "direccion.errors.maxlength">
                    La dirección de la empresa debe tener un máximo de 70 caracteres
                </h6>
            </div>
        </div>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="cp" name="cp" [(ngModel)]="empresa.cp"
            required placeholder="Codigo Postal" minlength="5" maxlength="5" pattern="[0-9]+" #cp="ngModel">
            <label for="cp">Codigo Postal</label>

            <!-- Mensajes de error en el código -->
            <div *ngIf="cp.invalid && (cp.dirty || cp.touched)">
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "cp.errors.minlength">
                    El código postal de la empresa debe ser de 5 dígitos
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "cp.errors.maxlength">
                    El código postal de la empresa debe ser de 5 dígitos
                </h6>
                <h6 class="alert alert-danger mt-1 mb-1" *ngIf = "cp.errors.pattern">
                    El código postal de la empresa sólo debe tener números
                </h6>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn btn-success">Actualizar empresa</button>
            <!-- <button class="btn btn-success" [disabled]="!empresaForm.form.valid">Registrar empresa</button> -->
        </div>
    </form>
</div>
